<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Phone Number</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

{% if contact_info %}
    <h3>Adding number to {{ contact_info.user_name.username }}</h3>
{% endif %}

<form method="post">

    {% csrf_token %}
    <input type="text" name="phone_number" placeholder="enter phone number">
    <input type="submit" value="Add">
</form>
</body>
</html>