<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add contact</title>
</head>
<body>

<form method="post">

    {% csrf_token %}

    <input type="text" name="full_name" placeholder="Full Name">
    <input type="text" name="nick_name" placeholder="Nick Name">
    <input type="text" name="phone_number" placeholder="phone_number">
    <input type="text" name="address" placeholder="address">
    <input type="text" name="date_of_birth" placeholder="date_of_birth">

    <input type="submit" value="Submit">
</form>

</body>
</html>