<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit contact</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/index/">Home</a></li>
        </ul>
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
            <li><a href="logout/">logout({{ user.username }})</a></li>
        {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% if info %}
        <div class="row">
        <form method="post" class="form-horizontal">

            {% csrf_token %}

            <div class="form-group">
                <label class="control-label col-sm-4" for="full_name">Full Name : </label>
                <div class="col-sm-4">
                    <input type="text" name="full_name" class="form-control" id="full_name" placeholder="Full Name"
                    value="{{ info.full_name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="nick_name">Nick Name : </label>
                <div class="col-sm-4">
                    <input type="text" name="nick_name" class="form-control" id="nick_name" placeholder="Nick Name"
                    value="{{ info.nick_name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="address">Address : </label>
                <div class="col-sm-4">
                    <input type="text" name="address" class="form-control" id="address" placeholder="address"
                    value="{{ info.address }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="date_of_birth">Date of Birth : </label>
                <div class="col-sm-4">
                    <input type="text" name="date_of_birth" class="form-control" id="date_of_birth"
                           placeholder="date_of_birth"
                    value="{{ info.date_of_birth }}">
                </div>
            </div>

            <div class="col-sm-offset-4 col-sm-4">
                <input type="submit" class="btn btn-default" value="Submit">
            </div>
        </form>
    {% endif %}
    </div>
</div>
</body>
</html>