<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit contact</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<form method="post">

    {% csrf_token %}

    <input type="text" name="full_name" placeholder="Full Name">
    <input type="text" name="nick_name" placeholder="Nick Name">
    <input type="text" name="address" placeholder="address">
    <input type="text" name="date_of_birth" placeholder="date_of_birth">

    <input type="submit" value="Submit">
</form>

</body>
</html>