<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% if user.is_authenticated %}
    <h2>Welcome {{ user.username }}</h2>
    <a href="addContact//">add contact</a>
    <a href="logout/">logout</a>

    {% if user %}
        <br>
        <table>
            <thead>
            <th>Serial</th>
            <th>Full Name</th>
            <th>Nick Name</th>
            <th>Phone number</th>
            <th>Address</th>
            <th>Date of Birth</th>
            </thead>
            <tbody>

            {% for contact_info in user.contactinfo_set.all %}
                <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ contact_info.full_name }}</td>
                <td>{{ contact_info.nick_name }}</td>

                <td>
                    {% for phone_number in contact_info.mobilenumber_set.all %}
                       <br> {{ phone_number.phone_number }} <a href="deletePhone/{{ phone_number.id }}/">delete</a>
                    {% endfor %}
                    <br><a href="addPhone/{{ contact_info.id }}/">add</a>
                </td>

                <td>{{ contact_info.address }}</td>
                <td>{{ contact_info.date_of_birth }}</td>

            {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endif %}

{% else %}
    <h2>Please <a href="login/">login</a> or <a href="registration/">register</a></h2>
{% endif %}


</body>
</html>