<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>

<!--nav bar starts -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/index/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="#add_contact">Add Contact</a></li>
                <li><a href="#saved_contact">Saved Information</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout/">logout({{ user.username }})</a></li>
            <li><a href="/downloadCSV/{{ user.id }}">download csv</a></li>

        {% endif %}
        </ul>
    </div>
</nav>
<!--nav bar ends -->



<div class="container">

    {% if user.is_authenticated %}
        <div class="row">
            <h2 align="center">Welcome {{ user.username }},</h2>
        </div>

        <!--upload csv file form starts-->
        <form action="/uploadCSV/" method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                <div class="col-md-8">
                    <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-upload"
                                                          style="margin-right:5px;"></span>Upload
                    </button>
                </div>
            </div>
        </form>

        <!--upload csv file form end-->


        <!-- Add contact form start -->
        <div class="row" id="add_contact">

            <form method="post" class="form-horizontal" action="/addContact/">
                {% csrf_token %}

                <div class="form-group">

                    <label class="control-label col-sm-8" for="full_name">Full name : </label>
                    <div class="col-sm-4">
                        <input type="text" name="full_name" class="form-control" id="full_name" placeholder="Full Name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-8" for="nick_name">Nick name : </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="nick_name" name="nick_name" placeholder="Nick Name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-8" for="phone_number">Phone Number : </label>
                    <div class="col-sm-4">
                        <input type="text" name="phone_number" class="form-control" id="phone_number"
                               placeholder="phone_number">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-8" for="address">Address : </label>
                    <div class="col-sm-4">
                        <input type="text" name="address" class="form-control" id="address" placeholder="address">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-8" for="date_of_birth">Date of Birth : </label>
                    <div class="col-sm-4">
                        <input type="text" name="date_of_birth" class="form-control" id="date_of_birth"
                               placeholder="date_of_birth">
                    </div>
                </div>

                <div class="col-sm-offset-8 col-sm-4">
                    <input class="btn btn-default" type="submit" value="Add Contact">
                </div>

            </form>
        </div>

        <!-- Add contact form end -->

        <div class="row" id="saved_contact">
        <h3 align="center">Saved contacts</h3>

        {% if user %}
            <br>
            <table class="table table-striped">
                <thead>
                <th>Serial</th>
                <th>Full Name</th>
                <th>Nick Name</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Edit</th>
                <th>Delete</th>
                </thead>
                <tbody>

                {% for contact_info in user.contactinfo_set.all %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ contact_info.full_name }}</td>
                    <td>{{ contact_info.nick_name }}</td>

                    <td>
                        {% for phone_number in contact_info.mobilenumber_set.all %}
                            {% if forloop.counter != 1 %}
                                {% comment %}for the first time no need to show extra blank line{% endcomment %}
                                <br>
                            {% endif %}
                            {{ phone_number.phone_number }}
                            <a href="/deletePhone/{{ phone_number.id }}/"><span
                                    class="glyphicon glyphicon-trash"></span></a>
                            <a href="/updatePhone/{{ phone_number.id }}/"><span
                                    class="glyphicon glyphicon-edit"></span></a>
                        {% endfor %}
                        <br><a href="/addPhone/{{ contact_info.id }}/"><span
                            class="glyphicon glyphicon-plus"></span></a>
                    </td>

                    <td>{{ contact_info.address }}</td>
                    <td>{{ contact_info.date_of_birth }}</td>
                    <td><a href="/updateContact/{{ contact_info.id }}/"><span
                            class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteContact/{{ contact_info.id }}/"><span
                            class="glyphicon glyphicon-trash"></span></a></td>

                {% endfor %}
                </tr>
                </tbody>
            </table>
        {% endif %}

    {% else %}
        <div class="jumbotron">
            <h2 align="center">Please <a href="/login/">login</a> or <a href="/registration/">register</a> to continue
            </h2>
        </div>
    {% endif %}

    </div>
</div>
</body>
</html>